/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: medium;
}

body {
  color: #333;
  background-color: #ececec;
  font: 13.34px 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', serif;
  color: #4d4d4d;
  padding: 0.2em 0;
  line-height: 1.1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: #000;
}

a:visited {
  color: #a0a;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}
ul.posts li {
  line-height: 1.75em;
}
ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 1em;
  font-size: 1rem;
  text-align: justify;
  margin: 0;
  padding: 0 2em;
  line-height: 1.5em;
}
@media all and (max-width: 360px) {
  .site {
    padding: 0 0.2em;
  }
}
.site .header a {
  font-weight: bold;
  text-decoration: none;
}
.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}
.site .header a.extra:hover {
  color: #000;
}
.site .header h1.title {
  font-size: 1.1em;
  font-size: 1.1rem;
  display: inline-block;
  margin-bottom: 2em;
}
.site .header h1.title a {
  color: #1793d1;
}
.site .header h1.title a:hover {
  color: #000;
}
.site .content #home img.logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.site .content #home h1.slogan {
  text-shadow: #999999 2px 2px 2px;
  font-size: 1.8em;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 0.8em;
  font-weight: normal;
}
.site .meta {
  color: #aaa;
}
.site .footer {
  font-size: 0.9em;
  font-size: 0.9rem;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}
.site .footer .contact {
  float: left;
  margin-right: 3em;
}
.site .footer .contact a {
  color: #8085C1;
}
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}
.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post {
  /* standard */
}
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  /* terminal */
}
.post pre code {
  border: none;
}
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}
.post pre.terminal code {
  background-color: #333;
}
.post ul, .post ol {
  margin-left: 1.35em;
}
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}
