/* line 1, ../_sass/syntax.scss */
.highlight {
  background: #ffffff;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 4, ../_sass/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}
/* line 5, ../_sass/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 6, ../_sass/syntax.scss */
.highlight .k {
  font-weight: bold;
}
/* line 7, ../_sass/syntax.scss */
.highlight .o {
  font-weight: bold;
}
/* line 8, ../_sass/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}
/* line 9, ../_sass/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
/* line 10, ../_sass/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
/* line 11, ../_sass/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
/* line 12, ../_sass/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
/* line 13, ../_sass/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
/* line 14, ../_sass/syntax.scss */
.highlight .ge {
  font-style: italic;
}
/* line 15, ../_sass/syntax.scss */
.highlight .gr {
  color: #aa0000;
}
/* line 16, ../_sass/syntax.scss */
.highlight .gh {
  color: #999999;
}
/* line 17, ../_sass/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
/* line 18, ../_sass/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
/* line 19, ../_sass/syntax.scss */
.highlight .go {
  color: #888888;
}
/* line 20, ../_sass/syntax.scss */
.highlight .gp {
  color: #555555;
}
/* line 21, ../_sass/syntax.scss */
.highlight .gs {
  font-weight: bold;
}
/* line 22, ../_sass/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}
/* line 23, ../_sass/syntax.scss */
.highlight .gt {
  color: #aa0000;
}
/* line 24, ../_sass/syntax.scss */
.highlight .kc {
  font-weight: bold;
}
/* line 25, ../_sass/syntax.scss */
.highlight .kd {
  font-weight: bold;
}
/* line 26, ../_sass/syntax.scss */
.highlight .kp {
  font-weight: bold;
}
/* line 27, ../_sass/syntax.scss */
.highlight .kr {
  font-weight: bold;
}
/* line 28, ../_sass/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
/* line 29, ../_sass/syntax.scss */
.highlight .m {
  color: #009999;
}
/* line 30, ../_sass/syntax.scss */
.highlight .s {
  color: #dd1144;
}
/* line 31, ../_sass/syntax.scss */
.highlight .na {
  color: teal;
}
/* line 32, ../_sass/syntax.scss */
.highlight .nb {
  color: #0086b3;
}
/* line 33, ../_sass/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
/* line 34, ../_sass/syntax.scss */
.highlight .no {
  color: teal;
}
/* line 35, ../_sass/syntax.scss */
.highlight .ni {
  color: purple;
}
/* line 36, ../_sass/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
/* line 37, ../_sass/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
/* line 38, ../_sass/syntax.scss */
.highlight .nn {
  color: #555555;
}
/* line 39, ../_sass/syntax.scss */
.highlight .nt {
  color: navy;
}
/* line 40, ../_sass/syntax.scss */
.highlight .nv {
  color: teal;
}
/* line 41, ../_sass/syntax.scss */
.highlight .ow {
  font-weight: bold;
}
/* line 42, ../_sass/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}
/* line 43, ../_sass/syntax.scss */
.highlight .mf {
  color: #009999;
}
/* line 44, ../_sass/syntax.scss */
.highlight .mh {
  color: #009999;
}
/* line 45, ../_sass/syntax.scss */
.highlight .mi {
  color: #009999;
}
/* line 46, ../_sass/syntax.scss */
.highlight .mo {
  color: #009999;
}
/* line 47, ../_sass/syntax.scss */
.highlight .sb {
  color: #dd1144;
}
/* line 48, ../_sass/syntax.scss */
.highlight .sc {
  color: #dd1144;
}
/* line 49, ../_sass/syntax.scss */
.highlight .sd {
  color: #dd1144;
}
/* line 50, ../_sass/syntax.scss */
.highlight .s2 {
  color: #dd1144;
}
/* line 51, ../_sass/syntax.scss */
.highlight .se {
  color: #dd1144;
}
/* line 52, ../_sass/syntax.scss */
.highlight .sh {
  color: #dd1144;
}
/* line 53, ../_sass/syntax.scss */
.highlight .si {
  color: #dd1144;
}
/* line 54, ../_sass/syntax.scss */
.highlight .sx {
  color: #dd1144;
}
/* line 55, ../_sass/syntax.scss */
.highlight .sr {
  color: #009926;
}
/* line 56, ../_sass/syntax.scss */
.highlight .s1 {
  color: #dd1144;
}
/* line 57, ../_sass/syntax.scss */
.highlight .ss {
  color: #990073;
}
/* line 58, ../_sass/syntax.scss */
.highlight .bp {
  color: #999999;
}
/* line 59, ../_sass/syntax.scss */
.highlight .vc {
  color: teal;
}
/* line 60, ../_sass/syntax.scss */
.highlight .vg {
  color: teal;
}
/* line 61, ../_sass/syntax.scss */
.highlight .vi {
  color: teal;
}
/* line 62, ../_sass/syntax.scss */
.highlight .il {
  color: #009999;
}
