/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/*@import "compass/reset";*/
@import "compass/css3";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: medium;
}

body {
  color: #333;
  background-color: #ececec;
  font: 13.34px 'Roboto Condensed', 'Microsoft JhengHei', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-size: 1rem;
  /*text-align: justify;*/
  /*text-justify: inter-ideograph;*/
  /*@include hyphenation;*/
  @include hyphens(auto);
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', 'Microsoft JhengHei', sans-serif;
  color: #4d4d4d;
  padding: 0.2em 0;
  line-height: 1.1em;
}

h1 {
  font-size: 1.8em;
  font-size: 1.8rem;
  margin-top: 1.2em;
}

h2 {
  font-size: 1.4em;
  font-size: 1.4rem;
}

p {
  @include text-shadow(#fff 1px 1px 1px);
  margin: 1em 0;
  color: #666;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

ul {
  margin-left: 1.2em;
  li {
    margin-left: 0.5em;
    color: #666;
    margin-bottom: 0.3em;
  }
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;

  li {
    line-height: 1.75em;
  }

  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

header {
  nav {
    border-bottom: 4px solid #0088cc !important;

    a {
      font-weight: bold;
      text-decoration: none;

      &.site-title {
        color: #1793d1 !important;

        &:hover {
          color: lighten(#1793d1, 10%) !important;
        }
      }
    }
  }
}


section.content {
  padding-top: 6em;
  @include background-image(linear-gradient(#D8E7F0, #eeeeee, #ececec));

  #home {
    img.logo {
      display: block;
      margin: 0 auto;
    }

    h2.slogan {
      @include text-shadow(#999 2px 2px 2px);
      font-size: 1.8em;
      font-size: 1.8rem;
      letter-spacing: 1px;
      text-align: center;
      padding-top: 0.8em;
      font-weight: normal;
    }

    div.row.briefing {
      margin: 1em auto;
    }

    div.row.highlights {
      margin-top: 3em;

      div.character {
        background: none;

        .glyphicon {
          margin-right: 0.2em;
        }

        h2 {
          @include text-shadow(#999 0px 2px 2px);
          font-size: 1.4em;
          font-size: 1.4rem;
          text-align: center;
          line-height: 1.5em;
          letter-spacing: 1px;
          border-bottom: 3px solid #1793d1;
          @include background-image(linear-gradient(#ececec 80%, #ccc));
          @include border-radius(4px, 4px);
        }
        &:hover {
          h2 { border-bottom: 3px solid #47B6ED; }
        }
      }
    }
  }
}

.meta {
  color: #aaa;
}

footer {
  font-size: 0.9em;
  font-size: 0.9rem;
  color: #666;
  border-top: 4px solid #7FBDDB;
  margin-top: 2em;
  margin-bottom: 1em;
  overflow: hidden;

  .contact {
    float: left;
    margin-right: 3em;

    a {
      color: #8085C1;
    }
  }

  .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;

    img {
      border: 0;
    }
  }
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  /* standard */
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;

    code {
      border: none;
    }

    /* terminal */
    &.terminal {
      border: 1px solid #000;
      background-color: #333;
      color: #FFF;
    }

    &.terminal code {
      background-color: #333;
    }
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }
}
