<!doctype html>
<html lang="zh-TW">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ page.title }} | {{ site.name }} / {{ site.name_en }}</title>
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <!-- Twitter Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
  {% include web-fonts.html %}
  <!-- RSS Feeds -->
  {% feed_meta %}
</head>

<body data-itemid="{{ page.itemid }}">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <a class="site-title navbar-brand" href="{{ site.url }}">{{ site.name }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="nav-home">
            <a class="nav-link" href="/">首頁</a>
          </li>
          <li class="nav-item" id="nav-news">
            <a class="nav-link" href="/news/">最新消息</a>
          </li>
          <li class="nav-item" id="nav-getting-started">
            <a class="nav-link" href="/getting-started/">新手上路</a>
          </li>
          <li class="nav-item" id="nav-links">
            <a class="nav-link" href="/resources/">線上資源</a>
          </li>
          <li class="nav-item" id="nav-contribute">
            <a class="nav-link" href="/contribute/">加入我們</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <section class="content container">
    {{ content }}
  </section>
  <!-- /content -->

  <footer class="container">
    <h1>Arch Linux 臺灣社群</h1>
    <p>除另有註明外，本站內容皆採
      <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh_TW">Creative Commons — 姓名標示-相同方式分享 4.0 國際 — CC BY-SA 4.0</a> 或更新版本授權大眾使用。本站原始碼可自
      <a href="https://github.com/linux-taiwan/arch.linux.org.tw">GitHub</a> 取得，歡迎貢獻、改進內容。</p>
    <p>本站使用
      <a href="https://fontawesome.com/">Font Awesome</a> 提供之圖示字型服務，特此謝忱。</p>
  </footer>
  <!-- Twitter Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <!-- some tweaks -->
  <script src="/javascripts/set-active-menu-item.js"></script>
  <script src="/javascripts/redirect-https.js"></script>
</body>

</html>
