<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.name }} / {{ site.name_en }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    {% include web-fonts.html %}
    {% include google-analytics.html %}
    <!-- RSS Feeds -->
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="Arch Linux Taiwan Community">
    <script src="/javascripts/set-active-menu-item.js"></script>
    <script src="/javascripts/redirect-https.js"></script>
  </head>
  <body data-itemid="{{ page.itemid }}">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ site.url }}" class="site-title navbar-brand">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="nav-home"><a href="/">首頁</a></li>
            <li id="nav-news"><a href="/news/">最新消息</a></li>
            <li id="nav-getting-started"><a href="/getting-started/">新手上路</a></li>
            <li id="nav-links"><a href="/resources/">線上資源</a></li>
            <li id="nav-contribute"><a href="/contribute/">加入我們</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="content container">
      {{ content }}
    </section> <!-- /content -->

    <footer class="container">
      <h1>Arch Linux 臺灣社群</h1>
        <p>除另有註明外，本站內容皆採 <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh_TW">Creative Commons — 姓名標示-相同方式分享 4.0 國際 — CC BY-SA 4.0</a> 或更新版本授權大眾使用。本站原始碼可自 <a href="https://github.com/linux-taiwan/arch.linux.org.tw">GitHub</a> 取得，歡迎貢獻、改進內容。</p>
        <p>本站使用 <a href="http://glyphicons.com/">GLYPHICONS</a> 提供之圖示字型服務，特此謝忱。</p>
    </footer>
  </body>
</html>
